<h1>Tasks</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!tasks"><em>Problem with fetching data...</em></p>



<table class='table' *ngIf="tasks">
    <thead>
        <tr>
            <th>Due date</th>
            <th>Title</th>
            <th>Details</th>
            <th>Creation date</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.dueDate }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.details }}</td>
            <td>{{ task.creationDate }}</td>
            <td>{{ task.users }}</td>
        </tr>
    </tbody>
</table>
