<h1>WebManager 1.0 by PK</h1>
<p>Welcome to WebManager, a brand new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Basic funcionalities planned be provided in final WebManager version</p>
<ul>
    <li><strong>User authentication</strong>. Create new user and log in to view your personalised tasks list.</li>
    <li><strong>New tasks creation</strong>. Add new tasks to list to keep track.</li>
    <li><strong>Displaying current tasks</strong>. Monitor your current tasks.</li>
    <li><strong>Tasks modification</strong>. Modify existing ones to be always up-to-date.</li>
    <li><strong>Multiple users support</strong>. Share tasks with your friends and complete them as a team!</li>
</ul>
